body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calendar {
  height: 400px;

}

.left {
  position: absolute;
  left: 0px;
}

.right {
  position: absolute;
  right: 0px;
}

.login {
  position: fixed;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;

}

.main {
  margin-top: 100px;
  height: 800px;
  border: 1px dotted blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.chore {


  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile {
  border: 2px solid purple;
  padding: 16px;
  margin: 16px;
}

.user {
  border: 1px dotted teal;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.username:hover {
  color: blue;
}

.roommatename:hover {
  color: blue;
}
